
*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box */
}

body{
    background-color:#232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
    
}

#container{
max-width: 600px;
margin: 20px auto;
}
.square{
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 15%;
    transition: background 0.4s;
}
h1{
background-color: steelblue;
text-align: center;
margin: 0;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}
#colorDisplay{
    font-size: 200%;
}
#message{
    display: inline-block;
    width: 20%;
}

#stripe{
    background: white;
    text-align: center;
    color: black;
}
.selected{
    background: steelblue;
    color: white;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 20px;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}
button:hover {
    background: steelblue;
    color: white;
}