*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #232323;
}
#map {
    width: 100%;
    height:100%;
    
  }
/* ---------------------------   Class Lists For JavaScript    -------------------------------- */

.hamburgerClick{
    transition-duration: 0.8s;
    color: white;
     visibility: visible;
 }
/* ------------------------------    Logo Section    ---------------------------------------------------------------- */
#rotateFishImg{
    display: none;
}
#logoSection{
    display: block;
    background-color: #1b3f17;
    width: 99%;
    height: 25px;
    margin: auto auto;
    border-radius: 10px;
}

#logoSection p{
    font-family: 'Trade Winds', cursive;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
}
/* -----------------------------------   Main Section    ------------------------------------------------- */

#mainSection{
     width: 90%;
    margin: auto;
    background-color:white;
    border: 4px solid #1b3f17;
    border-radius: 10px;
    box-shadow:0px 4px 14px  0px rgb(202, 181, 181) ;
}

/* ----------------------------------   The Menu   ------------------------------------------------------------ */

#hamburgerButton{
    margin-top: 10px;
    width: 40px;
    margin-left: 80%;
}
#threeLines{
    width: 30px;
    margin-left: 3px;
    margin-bottom: 1px;
}

#threeLines:hover{
    background-color: violet;
    transition-duration: 0.3s;
    border-radius: 35px; 
}

#middleLine{
    margin-top: 4px;
    margin-bottom: 4px; 
}

.hamburgerLine{
    width: 30px;
    height: 3px;
    background-color:rgb(129, 127, 129);
    border-radius: 50px;
}
/* -------------------------     Menu Options Style    ------------------ */
#hamburgerMenu{
    width: 50px;
    margin-left: -5px;
    display: inline-block;
    visibility: hidden;  
}

.hamburgerOptions a{
    text-decoration: none;
    color: black;
    font-family: 'Trade Winds', cursive;
    font-size: 7px;
}

.hamburgerOptions a:hover{
    color: white;
}

.hamburgerOptions{
  padding: 3px;
  border-radius: 10px;
  text-align: center;
}

.hamburgerOptions:hover{
    transition-duration: 0.3s;
    background-color:red ;
}

#mediaQueryMenu{
    display: none;
}

/*-------------------------------------------  Pike Info   ------------------------------------------------ */


.onPageInfo{
    text-align: center;
    font-family: 'Trade Winds', cursive;
    margin-bottom: 25px;
}


#pikeInfo{
    width: 95%;
    margin: 5px auto 0 auto;
    border: 2px solid white;
    box-shadow:0px 4px 14px  0px gray ;  

}
#pikeInfo img{
    margin: 10px 0px 0px 10px;
    float: left;
    width: 150px;
    height: 130px;
    padding: 4px;
    border-radius: 10px;
}

#pikeInfo img:hover{
    padding: 1px;
}

#pikeInfo p{
    font-family: 'Trade Winds', cursive;
    margin: 5px 5px 0px 5px;
    font-size: 11px;
}

/* --------------------------------------  Cat Fish ---------------------------------------------------------------- */

#catFishInfo{
    width: 95%;
    margin: 30px auto 30px auto;
    border: 2px solid white;
    box-shadow:0px 4px 14px  0px gray ;  
}

#catFishInfo img{
    margin: 10px 0px 0px 10px;
    float: left;
    width: 150px;
    height: 130px;
    padding: 4px;
    border-radius: 10px;
}

#catFishInfo img:hover{
    padding: 1px;
}

#catFishInfo p{
    font-family: 'Trade Winds', cursive;
    margin: 5px 5px 0px 5px;
    font-size: 11px;
}

/* ---------------------------------------------   Eel Fish    --------------------------------------------------------- */
#eelFishInfo{
    width: 95%;
    margin: 0 auto 20px auto;
    border: 2px solid white;
    box-shadow:0px 4px 14px  0px gray ;  

}
#eelFishInfo img{
    margin: 10px 0px 0px 10px;
    float: left;
    width: 150px;
    height: 130px;
    padding: 4px;
    border-radius: 10px;
}
#eelFishInfo img:hover{
    padding: 1px;
}

#eelFishInfo p{
    font-family: 'Trade Winds', cursive;
    margin: 5px 5px 0px 5px;
    font-size: 11px;
}

.firstLetter{
    font-size: 15px;
    font-weight: bold;
}

/* ------------------------------------------------     Map Div    -------------------------------------------------------- */

#mapDiv{
    margin: 15px auto 20px auto;
    width: 90%;
    height: 180px;
    border: 2px solid black;;
    box-shadow:0px 4px 14px  0px gray ;  
}

/* -----------------------------------------------   Footer Div   ----------------------------------------------------- */

#footerDiv{
    width: 99%;
    margin: 0 auto;
    height: 30px;
    border-radius: 7px;
    margin-top: 10px;
    background-color:#1b3f17;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.socialMediaDiv{
    margin-top: 5px;
}

.socialMediaDiv p{
    text-align: center;
    font-size: 17px;
}

.socialMediaDiv a{
    color: white;
    text-decoration: none;
}

/* --------------------------------------------------   Media Query 500px  -------------------------------------------------------------------- */

@media only screen and (min-width: 500px){

    
#rotateFishImg {
    
    -webkit-animation: rotation 2.5s  linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(359deg);
    }
    to {
            -webkit-transform: rotate(0deg);
    }
}
 
/* ---------------------------------------------------    Logo Section------------------------------------------- */

  #logoSection{
    background-color:#1b3f17;
    width: 99%;
    height: 45px;
    margin: auto auto;
}
#rotateFishImg{
    display: block;
    float: left;
    width: 40px;
    margin-left: 40%;
    margin-right: 10px;
    border-radius: 50%;
}

#logoSection p{
    text-align: left;
    margin-left: 10px;
    font-size: 25px;
    color: whitesmoke;
}
#mainSection{
    width: 450px;
    margin: auto auto;
    background-color:white;
}

/* ------------------------    Menu     ----------------------------- */

#hamburgerButton{
    display: none;
}

#mediaQueryMenu{
   margin-bottom: 20px;
    display: flex;
} 

#pageMenu{
    width: 70%;
    height: 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.menuOptions a{
    text-decoration: none;
    color: black;
    font-family: 'Trade Winds', cursive;
    font-size: 19px;    
}

.menuOptions a:hover{
    color: red;
    transition-duration: 0.3;
    border-bottom: 0.8px solid #1b3f17;
}

/* ------------------------------    Map Div    --------------------------------------------------------------- */

#mapDiv{
    width: 400px;
    height: 350px;
}

/* ------------------------------     Footer Div    ------------------------------------------------------ */

#footerDiv{
    height: 45px;
    margin-bottom: 10px;
}
.socialMediaDiv p{
    text-align: center;
    padding: 3px;
    font-size: 22px;
}

}


/*   ------------------------------   Media 1024px   ------------------------------------------- */

@media only screen and (min-width:1024px){

  /* -------------Logo Section -----Media 1024px--------------------------------- */
  

  #fishLogo p{
    font-size:30px;
}

#mainSection{
    width: 550px;
}

/* ----------------------   Map Div   ------------------------------------------------- */

#mapDiv{
    width: 500px;
    height: 350px;
}
/* -----------------   Footer Div   ------------------------------------------------------ */

}

@media only screen and (min-width:1400px){
    #rotateFishImg{
        margin-left: 45%;
    }
}
